# Nuxt build and cache
.nuxt
.nitro
.output
.cache

# Node modules
node_modules

# Logs
*.log*

# Environment files
.env
.env.*

# Build output
.dist
output
dist

# Data and temp
.data

# IDE/editor folders
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Optional: lock files (uncomment if you don't want to track them)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Misc
*.local

# Ignore content cache (Nuxt Content)
.content-cache

# Ignore test coverage
coverage/

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

